<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>Sim Hup Seng Services<br/> 新合成 </h2>
		<p>Premium <br />Elderly Friendly <br /> Portable Toilets <br /> <br /> In service since 2002</pl>

		<ul class="actions">
			<li><a href="contact" class="button special">Contact Us</a></li>
		</ul>
			<h3 style="font-size: 1.4em">
			<a href="tel:+6591125678">Call 9112 5678</a></b><br /></h3>
			<h3>
			(or <a href="https://api.whatsapp.com/send/?phone=6591125678">whatsapp</a>)
			</h3>
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>
