<!-- _includes/comment-list.html -->
<div id="testimonial_slider" class="testimonial_slider_2">
{% assign comments = site.data.comments | where_exp: "item", "true" %} 
{% assign sorted_comments = comments | sort: 'date' | reverse  | slice: 0, 5 %} 

{% for comment in sorted_comments %}
{% capture number %}{{ forloop.length }}{% endcapture %}
{% assign i = forloop.index0 | plus:1 %}
{% if forloop.index0 == 0 %}
<input type="radio" class="radio_comments" style="margin-top: 2em" name="slider_2" id="slide_2_{{i}}" checked />
{% else %}
<input type="radio" class="radio_comments" style="margin-top: 2em" name="slider_2" id="slide_2_{{i}}" />
{% endif %}
{% endfor %}

<input type="radio" class="radio_comments" style="margin-top: 2em" name="slider_2" id="slide_2_6" />

<div class="boo_inner clearfix">
{% for comment in sorted_comments %}
{% capture number %}{{ forloop.length }}{% endcapture %}
{% assign i = forloop.index0 | plus:1 %}
<div class="slide_content">
	<div class="testimonial_2">
		<div class="content_2" style="overflow-wrap:break-word; color: white">
	            <div class="row uniform">
                <div class="6u 12u(small)" style="padding: 0 0 0 1.5em">
			            <h3 style="text-align:left; padding-top:1em">{{comment.name}}</h3>
                </div>
                <div class="6u 12u(small)" style="padding: 0 0 0 1.5em">
                {% if comment.rating == "5" %}
                  <h3 style="text-align:left; font-size:2em; color: gold">★★★★★</h3>
                {% elsif comment.rating == "4" %}
                  <h3 style="text-align:left; font-size:2em; color: gold">★★★★</h3>
                {% elsif comment.rating == "3" %}
                  <h3 style="text-align:left; font-size:2em; color: gold">★★★</h3>
                {% elsif comment.rating == "2" %}
                  <h3 style="text-align:left; font-size:2em; color: gold">★★</h3>
                {% else %}
                  <h3 style="text-align:left; font-size:2em; color: gold">★</h3>
                {% endif %}
                </div>
              </div>
            <hr style="margin: 1.5em 0"/>
            <div style="text-align:left">
            {{comment.message | strip_html | markdownify | slice: 0, 250 }} 
            {% if comment.message.size > 250 %}
            ...
            {% endif %}
            <br />
            <br />
            <p>
              <time
                class="post-meta dt-published"
                datetime="{{ page.date | date_to_xmlschema }}"
                itemprop="datePublished"
              >
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ comment.date | date:"%H:%M - %b %-d, %Y" }}
              </time>
            </p>
            <div>
              {% if comment.message.size > 250 %}
              <button id="myBtn{{i}}" style="margin-top:2em; font-size: .7em"><u>Read full review</u></button>
              {% endif %}
            </div>
            </div>
	    </div>
</div>
</div>
{% endfor %}


<div class="slide_content">
	<div class="testimonial_2">
    <h2> Read All Reviews </h2>
    <hr style="margin: 1.5em 0"/>
		<div class="content_2" style="overflow-wrap:break-word; color: white; text-align:left">
      See more of what others have said about us! <br/>
      These are all reviews/feedback left on the website using the feedback form below.
    </div>
		<a href="reviews" style="margin-top:2em; font-size: .9em;" class="button special">Read More</a>
  </div>
</div>


</div>
<div>
</div>
	
</div>
<div id="controls">
{% for comment in sorted_comments %}
{% capture number %}{{ forloop.length }}{% endcapture %}
{% assign i = forloop.index0 | plus:1 %}
	<label class="control_comments" for="slide_2_{{i}}"></label>
{% endfor %}
	<label class="control_comments" for="slide_2_6"></label>
</div>