<!-- _includes/comment-form.html -->
<form id="myform" action="https://api.web3forms.com/submit"
 method="POST" onsubmit="return submitForm(event)" class="comment-form">
  <input type="hidden" name="access_key" value="c0d78310-04f1-4c93-b58a-1a1ddb587be5" />
  <input type="hidden" name="subject" value="New Review Submission" />
<input type="checkbox" name="botcheck" style="display:none;" />
  <p style="text-align: left; margin: 0;"><b>Name (required)</b></p>
  <input
    class="comment-name"
    name="name"
    type="text"
    placeholder="Name"
    required
  />
  <br />
  <p style="text-align: left; margin: 0;"><b>Phone Number</b></p>
  <p style="font-size: 0.6em; text-align: left; margin-bottom: .25em">We'll follow up about your review through the contact number here if provided.</p>
  <input
    class="comment-phone"
    name="phone"
    type="tel"
    pattern="[0-9]{4} [0-9]{4}"
    placeholder="8888 8888"
    title="8888 8888"
  />
  <br />
  <p style="text-align: left; margin: 0;"><b>Feedback (required)</b></p>
  <textarea
    class="comment-message"
    name="message"
    placeholder="Feedback/Testimonial message (optional)"
    onkeyup="textAreaAdjust(this)"
    style="overflow:hidden"
  ></textarea>
  <br/>
  <p style="text-align: left; margin: 0;"><b>Leave a 1-5 star rating here (required)</b></p>
  <div id="warning-rating" class="apparent-message warning-message">
  <div class="message-container">
    <div class="apparent-message-icon fa fa-fw fa-2x fa-exclamation-triangle">
        </div>
        <div class="content-container">
            <div class="message-body">Please mark out a 1-5 star rating below before submitting!</div>
        </div>
  </div>
  </div>
  <div class="comment-rating" style="font-size:4em; padding-top:.25em">
      <input id="star5" name="rating" type="radio" value="5" class="radio-btn" />
      <label style="color: #2369a7" for="star5">☆</label>
      <input id="star4" name="rating" type="radio" value="4" class="radio-btn" />
      <label style="color: #2369a7" for="star4">☆</label>
      <input id="star3" name="rating" type="radio" value="3" class="radio-btn" />
      <label style="color: #2369a7" for="star3">☆</label>
      <input id="star2" name="rating" type="radio" value="2" class="radio-btn" />
      <label style="color: #2369a7" for="star2">☆</label>
      <input id="star1" name="rating" type="radio" value="1" class="radio-btn" />
      <label style="color: #2369a7" for="star1">☆</label>
      <div class="clear"></div>
  </div>
  <br/>
  <button class="comment-submit" type="submit">Leave a review</button>
</form>

<div id="reviewThankyou" style="display:none; text-align:left; padding: 1em 0;">
  <h3>Thank you for your review!</h3>
  <p>It may take some time to show up on the website.</p>
</div>