<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>Give us a call at</h2>
			<div>
			<h2 style="font-size: 2em"><a href="tel:+6591125678">9112 5678</a></h2>
			<h2 style="font-size: 1em">(or <a href="https://api.whatsapp.com/send/?phone=6591125678">whatsapp us</a>)</h2><br/>
			</div>
			<p>We will respond to all inquiries usually within the business day.</p>
		</header>
		<ul class="actions vertical">
			<li><a href="contact" class="button fit special">Contact Us</a></li>
			<li><a href="about" class="button fit">Learn More</a></li>
		</ul>
	</div>
</section>
