<section id="two" class="wrapper alt style1">
<div class="inner" style="padding-bottom: 2em">
	<div class="row uniform 50%">
		<div class="6u">
			<div class="container">
			  <div class="overlay">
			    <div class = "items"></div>
			    <div class = "items head">
			      <p>New Ultra VIP toilets</p>
			      <hr>
			    </div>
			    <div class = "items price">
			      <p class="new">Elderly Friendly Features</p>
			    </div>
			    <div class="items cart">
			      <i class="fa fa-star"></i>
			      <a href="toilets">LEARN MORE</a>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>
</section>
