<!-- One -->
<section id="one" class="wrapper style1 special" style="padding: 0em 3em 1em 3em">
<!-- style="padding: 2em 0 1em 0"> -->
	<div class="box alt" style="margin-bottom: 0">
		<div class="row uniform 50%">
			<div class="4u 12u(small) image" style="padding: 2em"><img src="assets/images/tampines.jpg"></div>
			<div class="8u 12u(small)" style="padding: 1em">
				<h3>Approved Manhole Toilet Supplier for Tampines</h3>
				<p>
				Sim Hup Seng Services (SHS Group) is honored to be the 
				<mark style="background-color: #2e3842"><b>first</b></mark> Portable Toilet Rental Company to be granted the permission to install our 'Elder-Friendly' Portable Manhole Toilets for use in the Tampines Estate by the Town Council.
				</p>
				<ul class="actions">
					<li><a href="toilets" class="button" style="background-color: #2e3842 ">More about Our Toilets </a></li>
				</ul>
			</div>
		</div>
	</div>

</section>
