<!-- One -->
<section id="one" class="wrapper style1 special">
<!-- style="padding: 2em 0 1em 0"> -->
	<div class="inner">
		<header class="major" style="margin: 0px">
			<h2>Our business</h2>
		</header>
			<p>
				<b>Let us serve you. </b><br /> <br />

				We rent all types of <mark style="background-color: #2e3842"><b>Portable Toilets</b></mark>,<br/>
				<mark style="background-color: #2e3842"><b>Chillers</b></mark> and
				<mark style="background-color: #2e3842"><b>Tentages</b></mark><br/>
				suitable for every occasion <br /> 
				catered to every need, <br /> 
				at a guaranteed competitive price. <br /> 
				<br/>
				<hr />
				We also partner with established firms <br/>
				to provide a one-stop solution for <br />
				<mark style="background-color: #2e3842"><b>Event Logistics</b></mark> and
				<mark style="background-color: #2e3842"><b>Funeral Management Services</b></mark>. <br/>
			</p>
		<!-- <p>
			Other services we provide: <br/> 
			Fridge Rental, <br/> 
			Tables & Chairs Rental, <br/>
			Tentage Rental & Setup <br/>
			Funeral Management
		</p> -->
		<ul class="icons major">
			<li><img src="assets/images/jojotoilet.png" height=100em></li>
			<li><img src="assets/images/jojofridge.png" height=100em></li>
			<li><img src="assets/images/jojotable.png" height=100em></li>
			<li><img src="assets/images/jojotent.png" height=100em></li>
		</ul>
	</div>
</section>
