<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Other Services</h2>
			<p>
			Sim Hup Seng Services (SHS Group) takes pride in ensuring a one-stop, hassle free service for our valued customers. <br/>
			On top of toilet rentals, we also provide these services to further complete event planning logistics.
			</p>
		</header>
		<!-- <ul class="features">
			<li class="icon fa-check">
				<h3>Tentage Rental & Setup</h3>
				<p>We rent and install all types of tentages on-site, for all events. Common events include: funeral tentages, malay wedding curtains, night markets etc. </p>
			</li>
			<li class="icon fa-check">
				<h3>Tables + Chairs Rental & Setup</h3>
				<p>We rent white plastics with tables (square/round types availeble) and set them up for all events. These come with table cloths and chair wraps if necessary. </p>
			</li>
			<li class="icon fa-check">
				<h3>Funeral Management Service</h3>
				<p>We also partner with other funeral management firms -- in the case you are planning for a funeral event, fret not, let us handle the logistics with our partners. </p>
			</li>
			<li class="icon fa-check">
				<h3>Portable Toilet Servicing</h3>
				<p>On top of renting toilets, we also drop by to maintain and clean the toilets. Cleaning schedules can be arranged, let us know your needs. </p>
			</li>
		</ul> -->
	</div>
	<div class="container-portfolio">
        <div class="box2">
            <div class="imgBox">
                <img src="assets/images/tentage.jpeg">
            </div>
            <div class="content-portfolio">
                <h2 style="color: white">Tentage Rental & Setup</br>
                <span>Tentages for Funerals, Weddings, Corporate Events</span></h2>
            </div>
        </div>
        <div class="box2">
            <div class="imgBox">
                <img src="assets/images/tables.jpeg">
            </div>
            <div class="content-portfolio">
                <h2 style="color: white">Table & Chairs Rental</br>
                <span>Complete with table cloths and chair wraps.</span></h2>
            </div>
        </div>
        <div class="box2">
            <div class="imgBox">
                <img src="assets/images/free.jpeg">
            </div>
            <div class="content-portfolio">
                <h2 style="color: white">Funeral Consultations</br>
                <span>Consultations for Funeral Services</span></h2>
            </div>
        </div>
        <div class="box2">
            <div class="imgBox">
                <img src="assets/images/event.jpeg">
            </div>
            <div class="content-portfolio">
                <h2 style="color: white">Event Logistics</br>
                <span>Refreshments, Venue prep, Setup, Maintenance</span></h2>
            </div>
        </div>
    </div>
</section>
