---
---
{% assign comments = site.data.comments | where_exp: "item", "true" %} 
{% assign sorted_comments = comments | sort: 'date' %} 
{% for comment in sorted_comments %}
{% capture number %}{{ forloop.length }}{% endcapture %}
{% assign i = forloop.index0 | plus:1 %}
{% assign p = forloop.index0 | times:-1 %}
.testimonial_slider_2 #slide_2_{{i}}:checked ~ .boo_inner { margin-left: percentage({{p}}); }
{% endfor %}


{% assign x = sorted_comments.size %}
.testimonial_slider_2 .boo_inner {
	width:percentage({{x}});
}
{% assign y = 1.0 | divided_by: x %}
.testimonial_slider_2 .slide_content{
	width:percentage({{y}});
	float:left;
}
	